*{
    margin: 0;
    padding: 0;
}

/* Shared style */
.heading-text {
   font-family: "Raleway", sans-serif;
   font-size: 3rem;
}

.paragraph-text{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 370;
    font-size: 1rem;
    line-height: 1.25rem;
}

.primary-button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #469165;
    color: white;
    font-weight: 500;
}

.primary-button:hover{
    background-color: #36774a;
}

/* header started */
/* #nav{ */
    /* margin: 0 auto; */
/* } */
.nav-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-menu ul li {
    list-style: none;
    display: inline-block;
}

.nav-menu ul li a{
    text-decoration: none;
    color: black;
}

.nav-menu ul li a:hover{
    color: #424e48;
}