*{
    margin: 0;
    padding: 0;
}

/* Shared style */
.heading-text {
   font-family: "Raleway", sans-serif;
   font-size: 3rem;
}

.paragraph-text{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 370;
    font-size: 1rem;
    line-height: 1.25rem;
}

.primary-button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #469165;
    color: white;
    font-weight: 500;
}

.primary-button:hover{
    background-color: #36774a;
}

.secondary-button{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: 500;
}

.secondary-button:hover{
    background-color: white;
    color: #469165;
}

/* header started */
/* #nav{ */
    /* margin: 0 auto; */
/* } */
.nav-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-menu ul li {
    list-style: none;
    display: inline-block;
}

.nav-menu ul li a{
    text-decoration: none;
    color: black;
}

.nav-menu ul li a:hover{
    color: #424e48;
}

/* banner started */
#banner{
    background-image: url('assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 4rem 0;
    height: auto;
    color: white;
}

#unique-button{
   padding: .5rem 2rem;
   background-color: #ffffff;
   border-radius: 4rem;
   color: #469165;
   font-weight: 500;
   font-size: 1rem;
   cursor: pointer;
   border: none;
}

#unique-button:hover{
    background-color: #f6fff6;
    color: rgb(0, 87, 0);
}

.banner-container h1{
    font-size: 4rem;
    line-height: 4.3rem;
}

.banner-container p{
    line-height: 2rem;
    font-weight: 300;
}

.button-group{
    display: flex;
    justify-content: center;
    gap: .6rem;
}

.btn1 , .btn2{
    display: flex;
    gap: .5rem;
    align-items: center;
} 

/* main started */
/* structure section */
.structure-container{
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
    /* border: #36774a 1px solid; */
}

.structure-header h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

#structure p, .card p{
    margin-top: 1.2rem;
    font-size: 1rem;
    color: #627382;
    font-weight: 340;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}
.card{
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   padding: 2rem 1rem .9rem 1rem;
}

.card-red{
    background-color: red;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    padding: .5rem;
}

.card h3{
    margin-top: 1rem;
}

/* hero section started */
.hero-container{
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-img-container{
    
}